{% extends "../base.html" %}

{% block title %}{{sitename}} - {{ filename }}{% endblock %}

{% block bodymore %}{% endblock %}

{% block content %}

<div id="info" class="dinfo info-flex">
    <div id="filename">
        {{ filename }}
    </div>

    <div class="info-actions">
        {% if expiry %}
        <span>file expires in {{ expiry }} |
        {% endif %}
        {% if maxdls > 0 %}
        {{ maxdls }} {% if maxdls == 1 %}download{% else %}downloads{% endif %} left |
        {% endif %}
        {% block infomore %}{% endblock %}
        <span>{{ size }}</span> |
        <a href="{{ filename }}/torrent" download>torrent</a> |
        <a href="{{ sitepath }}{{ selifpath }}{{ filename }}" download>get</a> |
        <span class="hover_img" if=qrlink>
            <a href="{{ sitepath }}{{ filename }}/qr">QR |<span id=qrcode><img src="{{ sitepath }}{{ filename }}/qr"/></span></a>
        </span>
    </div>

    {% block infoleft %}{% endblock %}
</div>

<div id="main" {% block mainmore %}{% endblock %}>

    <div id='inner_content' {% block innercontentmore %}{% endblock %}>
        {% block main %}{% endblock %}
    <br />
    </div>
</div>
<script src="{{ sitepath }}static/js/clipboard.js"></script>

{% endblock %}
